fastapi==0.109.0
uvicorn[standard]==0.27.0
httpx>=0.27.0
requests
websockets==12.0
python-multipart==0.0.6
pydantic==2.5.0
python-json-logger==2.0.7
spacy
ollama
chromadb
redis


resemblyzer
soundfile>=0.12.1
audioread>=3.0.0
numba>=0.56.0
librosa>=0.9.1
numpy>=1.20.0,<1.25.0
scipy>=1.2.1
typing